In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_kclt = pd.read_csv('data/KCLT.csv')

In [3]:
df_kclt.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65

In [6]:
type(df_kclt['date'][0])

str

It'll be beneficial to have the date in a datetime format. And we might as well make it the index. This will make it a lot easier when working with the data and making visualizations.

In [7]:
df_kclt['date'] = pd.to_datetime(df_kclt['date'])

In [8]:
df_kclt.set_index('date', inplace=True)

In [9]:
df_kclt.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 365 entries, 2014-07-01 to 2015-06-30
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   actual_mean_temp       365 non-null    int64
 1   actual_min_temp        365 non-null    int64
 2   actual_max_temp        365 non-null    int64
 3   average_min_temp       365 non-null    int64
 4   average_max_temp       365 non-null    int64
 5   record_min_temp        365 non-null    int64
 6   record_max_temp        365 non-null    int64
 7   record_min_temp_year   365 non-null    int64
 8   record_max_temp_year   365 non-null    int64
 9   actual_precipitation   365 non-null    float64
 10  average_precipitation  365 non-null    float64
 11  record_precipitation   365 non-null    float64
dtypes: float64(3), int64(9)
memory usage: 37.1 KB

None of the data appears to be missing and it is already in the expected format.

In [10]:
df_kclt.describe()

,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,61.049315,49.958904,71.630137,48.819178,70.983562,31.465753,88.728767,1953.279452,1953.989041,0.102411,0.114082,2.208904
std,16.061789,16.575533,16.450481,13.832203,13.495207,18.430656,9.961209,39.170924,33.890497,0.301195,0.013650,0.879378
min,18.000000,7.000000,26.000000,29.000000,50.000000,-5.000000,69.000000,1879.000000,1879.000000,0.000000,0.090000,0.850000
25%,47.000000,37.000000,58.000000,36.000000,58.000000,15.000000,79.000000,1918.000000,1931.000000,0.000000,0.100000,1.650000
50%,63.000000,52.000000,73.000000,48.000000,72.000000,30.000000,90.000000,1963.000000,1953.000000,0.000000,0.110000,1.980000
75%,75.000000,65.000000,86.000000,63.000000,84.000000,49.000000,98.000000,1983.000000,1984.000000,0.030000,0.120000,2.540000
max,88.000000,75.000000,100.000000,68.000000,89.000000,62.000000,104.000000,2015.000000,2015.000000,2.650000,0.150000,6.880000